body {
    background-color: #F7F8FC;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;

    background-image: url('https://lh3.googleusercontent.com/OCg2BsnltKXGQMfua_VXKYF654X2QDaxv3sbUMPSftFCz5yvxSlaiGJ8oUlhv5E7U2HUSkpLgpXWr8OtwmoE4bTJOxGhmRkAHrMEZBapyGo_tF06Kd9PpdZTAZJ4RVP6kyMNL9B7KC6pP_7rurujrbeUQ5rnvc6Yys5eecRck-2pLIFKLwPSTvJJLHEnFGHRahG5v66Z1WGhgUAO3VtQfAY2yxnH97TsX-hWiRf1RmB30zKJtnF4GdyPy20B6Ox6Gqq3vZuslA6mMqud5DwxIffxcaf-KPS1MvApvy2J-36uyBig17m2FfD-UCsj0myYTQKfyODqm_wHhM-AdXUARFt_hnWFamU9ITr4eH6Ru7WxUs3AsfGZvcq-C4uwPR2wUO3htnvpdWUy2CjtGcFfSqUpWf2Vzx3bka6v38G_TDwNmbziwa4gZ4uSPeKtr2vkm3tAphemFFtKa6J1zBLOD2doWnxDTGssqaYL41ijhr1XvGa4NC7Ivu58das4QXghjKo4tW3zd88UpyLhuvdsee-35aNujO-6CeHftdKQ47Nf4EYmxh-4FfKaNjmEfD4Mwl1uuM-EPk0-Jwcj_ot_vD2YQkwnWe6-81QWDPwoKabTe556P2Mvjg1v0pbTaPn_ojtYN7DtlQvr5ycc9pODmjc31n8pdQFG_DomFVpA3pl3J3lt0jkQOaCQFh8B1MMw7cGvs0KbGzQkHQiEXmHWU5o=w1403-h789-no?authuser=6');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-opacity: 0.1;

}



.Header {
    margin-left: 44px;
    margin-right: 44px;

    display: flex;

    margin-top: 50px;
    margin-bottom: 20px;

}



.User_info {
    margin-left: auto;
    margin-right: 0;
    display: flex;
    text-align: right;
    font-style: bold;
}

#messageText {
    margin: 0px;
}

 .price {
         display:flex;
           margin: 0px;
    }

.verticalLine {
  border: 1px solid #DFE0EB;
  width: 0px;
  margin-left: 17px;

/* grayscale / divider */

}


.notUnderlineLink {
    text-decoration: none;
    color: black;
}

.icons  {
    width: 64px;
    text-align: center;
}

.icon {
    width: 14px;
    height: 16px;
    margin-left: 10px;
}

#notification {
    margin-top: 14px;
    width: 14px;
    height: 16px;
}

#logout {

    width: 18px;
    height: 16px;
}

.username {
    margin-bottom: 3px;
    margin-top: 8px;
    display: flex;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-style: normal;

    /* or 143% */
    letter-spacing: 0.2px;

    /* grayscale / black */
    color: #252733;
}

.FimCoin {
    /* Bold 24 (0.3 px) */
    margin: 0px;
    margin-left: 23px;

    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    text-align: right;
    letter-spacing: 0.3px;
}

.FimCoinCount {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: right;
    letter-spacing: 0.3px;
    margin: 0px
}


#title {
    font-family: 'Mulish', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    letter-spacing: 0.3px;
    height: 36px;
    margin: 0px;
}

#titlebold {
    font-family: 'Mulish', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.3px;
}




.Today_s_trends {
    background-color: red;
    margin-left: 44px;
    margin-right: 44px;
    background: #FFFFFF;
/* grayscale / divider */

    border: 1px solid #DFE0EB;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 32px;
       box-shadow: 0 0 1rem 0 rgba(33, 31, 31, 0.2);

}

.Today_s_trends_block_name {

    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    margin: 0px;
    letter-spacing: 0.4px;
    color: #252733;
}

.little_gray {

/* Reg 12 (0.1 px) */
    margin: 0;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.1px;

    /* grayscale / gray */

    color: #9FA2B4;

}

.quitiessquitiess {
    display: flex;
    margin-bottom: 46px;
}

.company_picture {
    width: 90px;
    height: 45px;

}

.company_name {
    margin: 0px;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-left: 30px;
    width: 180px;
    display: flex;

    /* ---------- */

    height: 45px;
    align-items: center;

    /* grayscale / black */
    color: #252733;
}

.progress {
  width: 100%;
  margin: 0px;
  margin-left: 30px;
  margin-right: 15px;

}


.logoimage {
    width: 66px;
    height: 41px
    margin: 0px;
    margin-top: -1px;
    padding: 0px;
}

.progressBarGray {
  display: flex;

  width: 100%;
  background-color: #F7F8FC;
  border-radius: 5px;
  border: 1px solid #B6B6B6;
  height: 30px;
}

.progressBar {
  border-radius: 4px;
  background-color: #B6B6B6;
}




.FimCoinCountCentered {

    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: right;
    letter-spacing: 0.3px;
    margin-top: 5px;
    align-items: center;
    width: 120px;

}

.FimCoinCentered {
    margin-left: 10px;
    align-items: center;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    margin-top: 2px;
    text-align: right;
    letter-spacing: 0.3px;
    width: 60px;
}




.formbuttons{
    display: block;
    text-align: center;
    width: 150px;
    margin-top: 18px;
    margin-bottom: 8px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);

}

#text_to_reg {
    font-size: 10px;
}


.login_box {
    text-align: center;
    width: 300px;
    background: #FFFFFF;
/* grayscale / divider */

    border: 1px solid #DFE0EB;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 32px;


    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    margin-top: -150px;

   box-shadow: 0 0 1rem 0 rgba(33, 31, 31, 0.2);


}

#In {
    margin: 0px;
    margin-bottom: 25px;

    font-size: 28px;

}

.textforinput {
    margin: 0px;
    margin-left: 42px;
    text-align: left;

}

.formfield {
    display: block;
    margin-bottom: 8px;

}

.reg_box {

text-align: center;
    width: 600px;
    background: #FFFFFF;
/* grayscale / divider */

    border: 1px solid #DFE0EB;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 32px;


    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    margin-top: -150px;

}

.container {
    position: absolute;
    background-color: white;
    left: 33px;
    right: 33px;
    top: 120px;

    border: 1px solid #DFE0EB;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 32px;
    margin-bottom: 18px;
}


.tabel-header-info-text {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    margin-bottom: -15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;

    /* grayscale / gray */

    color: #9FA2B4;
}

button.custom {
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    color: black;
    display:inline;
    width:100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 8px 16px;
    margin: 20px auto;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;

    }
button.green {
    background-color: rgba( 43, 153, 91);
    border: 1px solid rgb( 33, 126, 74 );
    color: white;
    }

button.green:hover {
    background-color: rgba( 75, 183, 141, 0.3);
    text-decoration: none;
    color: white;
}

button.custom :hover {
    background-color: rgba( 255, 220, 9, 0.3);
    text-decoration: none;

}

a {
    text-decoration: none;

}

.question {
    background-color: white;
    position: absolute;
    right: 15px;
    bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    color: gray;
}

.question:hover {
    color: black;
}