
{% extends 'mainCoins/base.html' %}
{% block title %} Welcome to finCoin {% endblock %}

{% block messageline %}

<div class="primary" align="right" style="vertical-align: middle;">


    {% if request.user.is_authenticated %}

        <p class="username" id="bigscreenusername"> {{request.user}}</p>
        <p id="messageText">у тебя на счету</p>
    {% else %}

    <div class="messageText">
        Ведется разработка
    </div>

    {% endif %}


</div>

{% endblock %}

{% block fimcount %}

<div>
{% if request.user.is_authenticated %}

       {% if Coins == "0" %}
        <div>
         <h2 class="FimCoinCount"><span >0</span></h2>
         <p class = "FimCoin">FimCoin</p>
        </div>
        {% endif %}

        {% if Coins != "0" %}
            <h2 class="FimCoinCount"><span >{{Coins}}</span></h2>
            <p class = "FimCoin">FimCoin</p>
        {% endif %}
            {% else %}
        {% endif %}


</div>


{% endblock %}






{% block content %}
    {% if request.user.is_authenticated %}
<div class="Today_s_trends">


<p class="Today_s_trends_block_name">
    СТЕК АКЦИЙ
</p>

<p class="little_gray" style="padding-bottom: 36px;">
    as of 25 May 2019, 09:41 PM
</p>
    <p class="Today_s_trends_block_name_coust_text" style="
            text-align: right;
            font-style: normal;
            font-weight: normal;
            font-size: 19px;
            line-height: 24px;
            margin-bottom:30px;
            margin-top:-45px;">
                Стоимость
            </p>




{% for i,j,k in fusion %}
{% if j > 0 %}


    <div class="quitiessquitiess">

        {% load static %}

        {% if i.company_label %}

        <img class="company_picture" src="{{ i.company_label.url}}" alt="{{ i.title }}">

        {% endif %}

        <p class="company_name">
            {{i.company_name}}
        </p>

        <div class="progress">

        <div class="progressBarGray">

               <div class="progressBar" style="
                width: {{k}};">

                </div>


        </div>
            <p class="little_gray before_u_buy"
                    style="
                    text-align: right;">
                    Для приобретения нужен еще {{ j }} FimCoin
            </p>
        </div>




    <div class="price">
         <div class="FimCoinCountCentered">
                {{ i.price }}
            </div>
            <p class="FimCoinCentered">FimCoin</p>
    </div>




    </div>

       <div class="little_progress">

        <div class="progressBarGray">

               <div class="progressBar" style="
                width: {{k}};">

                </div>


        </div>
            <p class="little_gray"
                    style="
                    text-align: right;
                    font-size: 10px;
                    ">
                    Для приобретения нужен еще {{ j }} FimCoin
            </p>
        </div>



    {% else %}


       <div class="quitiessquitiess">

        {% load static %}

        {% if i.company_label %}

        <img class="company_picture" src="{{ i.company_label.url}}" alt="{{ i.title }}">

        {% endif %}

        <p class="company_name">
            {{i.company_name}}
        </p>

        <div class="progress">

        <div class="progressBarGray">

               <div class="progressBar" style="
                width: {{k}};
                background-color:#29CC97;">

                </div>


        </div>
            <p class="little_gray before_u_buy"
                    style="
                    text-align: right;">
                <a href="" style="
                    color:#29CC97;">Приобрести</a>
            </p>
        </div>




    <div class="price">
         <div class="FimCoinCountCentered">
                {{ i.price }}
            </div>
            <p class="FimCoinCentered">FimCoin</p>
    </div>




    </div>

       <div class="little_progress">

        <div class="progressBarGray">

               <div class="progressBar" style="
                width: {{k}};
                background-color:#29CC97;">

                </div>


        </div>
         <a href="" style="
                    color:#29CC97;
                    font-size: 10px;
">Приобрести
         </a>
        </div>

{% endif %}
{% endfor %}
    {% endif %}

     {% if Coins != "0" %}
    <a href="/"><h6 align="right">Назад</h6></a>
 {% endif %}
</table>


</div>


{% endblock %}

