
<!DOCTYPE html>

{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>


<div id="header2" class="p-1">
    <div class="row">
    <h1 class="col-2"> FinamCoins </h1>
        <div class="col-4"></div>
            <div class="col-6">
                {% block messageline %} {% endblock %}
            </div>
    </div>

</div>

    <div class="row p-2">
    {% if request.user.is_authenticated %}

    <div class="p-2">
        <a href="logout">
            <button type="button" class="btn btn-outline-danger">Выход</button>
        </a>
    </div>

    {% else %}
    <div class="p-2">
        <a href="login">
            <button type="button" class="btn btn-outline-primary">Войти</button>
        </a>

    <a href="registration">
        <button type="button" class="btn btn-outline-secondary">Регистрация</button>
    </a>
        </div>

    {% endif %}
    <div class="p-2">
    <a href="admin">
        <button type="button" class="btn btn-outline-warning">Админ</button>
    </a>
    </div>
        </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="{% static 'js/table.js' %}"></script>

{% block content %}

{% endblock %}
</body>
</html>
