
<!DOCTYPE html>


<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <!--Fonts-->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,200;1,500&display=swap" rel="stylesheet">

</head>

<body>

    <!-- Header -->
<div class="Header">

    <h1  id="title"> <span id="titlebold">Fim</span><span id="titlelight">Coins</span> </h1>

    <div class="User_info">
            <div>
                {% block messageline %} {% endblock %}
            </div>
    </div>

</div>

    <div class="row p-2">
    {% if request.user.is_authenticated %}

    <div class="p-2">
        <a href="logout">
            <button type="button" class="btn btn-outline-danger">Выход</button>
        </a>
    </div>

    {% else %}
    <div class="p-2">
        <a href="login">
            <button type="button" class="btn btn-outline-primary">Войти</button>
        </a>

    <a href="registration">
        <button type="button" class="btn btn-outline-secondary">Регистрация</button>
    </a>
        </div>

    {% endif %}

        {% if request.user.is_superuser %}
    <div class="p-2">
    <a href="admin">
        <button type="button" class="btn btn-outline-warning">Админ</button>
    </a>
    </div>
        </div>
         {% endif %}



{% block content %}

{% endblock %}

</body>
</html>
