{% extends 'mainCoins/baseAdmin.html' %}
{% block title %} Создать ученика {% endblock %}

{% block content %}
<div class="container">

    <div class="container-header">
        <h1 class="Today_s_trends_block_name">
            Создать ученика
        </h1>
    </div>

    <form action="{% url 'fimCoinAdminCreateStudent' %}" method="post" class="form">
        {% csrf_token %}
        {% for field in createStudent %}
             {% if field.errors %}
                <p class="form_error"> {{ field.error }} </p>
            {% endif %}

            <p class="form_label"> {{ field.label }} </p>
            <p class="form_field"> {{ field }} </p>
        {% endfor %}

        <button type="submit"> Добавить ученика </button>
    </form>
    </div>


{% endblock %}