{% extends 'mainCoins/baseAdmin.html' %}
{% block title %} FimCoins Мои ученики {% endblock %}
{% block content %}
<div class="container">

    <div class="container-header">
        <h1 class="Today_s_trends_block_name">
           Мои ученики и группы
        </h1>

        <div class="header_gray_text">
            <a href="/сreateStudent" class="notUnderlineGrayLink"><span style="font-size: 18px;">+</span> Создать ученика <br></a>
            <a href="/сreateGroup" class="notUnderlineGrayLink"><span style="font-size: 18px;">+</span> Создать группу <br></a>
            <a href="/сreateTeacher" class="notUnderlineGrayLink"><span style="font-size: 18px;">+</span> Создать преподователя </a>
        </div>
    </div>


    {% for i in myGroups %}

        <p class="Group_name">
            <a class="a_white" href="{% url 'groupDetail' slug=i.slug %}">
                <p class="Group_name_background"> {{ i }}</p>
            </a>
        </p>

        {% if Student %}

        <div class="tabel-header">
            <p class="tabel-header-text first-table-column"> Имя Фамилия </p>
            <p class="tabel-header-text second-table-column"> Количество FimCoin </p>
            <p class="tabel-header-text second-table-column"> Уведомелния </p>
        </div>

        {% for j in Student %}
            {% if j.group == i  %}
                <div class="user-data-row">

                    <a href="{% url 'studentdetailurl' slug=j.slug %}" class="notUnderlineGrayLink" style="color: black;">
                   {% if j.second_name %}
                      <p class="first-table-column studentName"> {{ j.name }} {{ j.second_name }} </p>
                    {% else %}
                        <p class="first-table-column studentName"> {{ j.name }}</p>
                    {% endif %}
                    </a>

                    <div class="studentCoinCount second-table-column">
                        <a href="{% url 'addFimCoins' slug=j.slug %}" class="a_black">
                            <p class="fimCoinCount"> {{j.coins}} FimCoin </p>
                        </a>
                    </div>

                     <div class="tabel-header-text second-table-column">

                         {% if j.notifications %}
                        <a href="{% url 'notification' slug=j.slug %}" class="a_black">
                            <p> 🔵 </p>
                        </a>
                         {% endif %}
                    </div>

                </div>
            {% endif %}

        {% endfor%}

    {% endif %}

    {% endfor%}
</div>
{% endblock %}
