{% extends 'mainCoins/baseAdmin.html' %}
{% block title %} Добавить учеников {% endblock %}

{% block content %}
<div class="container">

    <div class="container-header">
        <h1 class="Today_s_trends_block_name">
            Добавить учеников в группу: {{ group }}
        </h1>
    </div>

    <form action="{% url 'addStudentAtGroup' slug=group.slug %}" method="post" class="form">
        {% csrf_token %}

        {% for field in form %}

            {% if field.errors %}
                <p class="form_error"> {{ field.error }} </p>
            {% endif %}

        <p> Добавить учеников </p>
        <p class="form_field"> {{ field }} </p>
        {% endfor %}


        <button type="submit"> Сохранить </button>
    </form>
    <a href="{% url 'addStudentAtGroup' slug=group.slug%}" class="notUnderlineGrayLink form_label" style="color: red; margin-top:20px; font-size: 12px; "> Удалить группу </a>

</div>

{% endblock %}