
{% extends 'mainCoins/base.html' %}
{% block title %} Welcome to finCoin {% endblock %}

{% block messageline %}

 {% if request.user.is_authenticated %}
   <div class="primary" align="right" style="vertical-align: middle;">
        Привет {{request.user}},
        сейчас у тебя на счету
        {% if Coins == "0" %}
         пока нет finCoin'ов
        {% else %}
            <h2><span class="badge badge-primary">{{Coins}} finCoin'a </span></h2>
        {% endif %}

    </div>


  {% else %}
    <div class="alert alert-info" role="alert">
    Ведется разработка
    </div>
  {% endif %}

{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}
<div class="px-2">


<div class="row mx-2">
    <div class="col-3 mx-2">
        <p>Компания</p>
    </div>
    <div class="col-2 ">
       <p> Стоимость акций  </p>
    </div>

    <div class="col-5 mx-2">
        <p>Сколько осталось до приобретения</p>
    </div>

</div>

{% for i,j,k in fusion %}
{% if j > 0 %}
<ul class="list-group my-1">
  <li class="list-group-item d-flex justify-content-between align-items-center">

    <div class="col-3 ">
      {{i.company_name}}
    </div>

    <div class="col-2 mx-2">
    <span class="badge badge-primary badge-pill">{{i.price}}</span> finCoin
    </div>
     <div class="container col-7", >
        <div class="progress">


            {% if Coins == "0" %}
                <div class="progress-bar" style="width: 100%">
                    {{j}} FinCoin
                </div>
            {% else %}
                <div class="progress-bar bg-success" style="width: {{k}}">
                    {{j}} finCoin
                 </div>
            {% endif %}


        </div>
    </div>
    </li>
</ul>
{% endif %}
{% endfor %}

 {% if Coins != "0" %}
    <a href="allequitiess"><h6 align="right">Смотреть все</h6></a>
 {% endif %}

    {% endif %}
</table>
</div>




{% endblock %}