
{% extends 'mainCoins/base.html' %}

{% block title %} Добро пожаловать на FimCoin {% endblock %}
{% block messageline %}

<div class="alert alert-info" role="alert">
        Тестовый логин: Евгений <br>
        Пароль: 1234
    </div>

{% endblock %}





{% block content %}
<div class="login_box">

    <form id="add_form" method="post" class="form">
        {% csrf_token %}

        <p id="In"> Вход </p>
        <p class="textforinput"> Логин </p>

        <div class="formfield">
        {{ form.username }}
        {{ form.username.errors }}
        </div>

        <p class="textforinput"> Пароль </p>

        <div class="formfield" >
        {{ form.password }}
        {{ form.password.errors }}
        </div>


                {{form.errors}}

        <button type="submit" class="formbuttons" >Войти</button>

        <a href="registration", class="formbuttons", id="text_to_reg">
            Нет аккаунта? Регистрация
        </a>

    </form>
</div>





{% endblock %}


