
{% extends 'mainCoins/base.html' %}

{% block title %} Log in finCoin {% endblock %}


{% block messageline %}
    <div class="alert alert-info" role="alert">
        Тестовый логин: Евгений <br>
        Пароль: 1234
    </div>
{% endblock %}


{% block content %}


<div class="form-group p-2">
    <form id="add_form" method="post" class="form-inline">
        {% csrf_token %}
        {{form}}
        <br>
        <button type="submit" class="btn btn-outline-primary p-2">Войти</button>
    </form>
</div>


{% endblock %}